﻿ <!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <a href="index.html">
                        <img class="img-fluid" src="~/assets/images/logo.png" alt="Theme-Logo" />
                    </a>
                    <a class="mobile-options">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>

                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <li>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="~/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>@ViewBag.SessionMessage</span>
                                </a>
                                <a asp-controller="Home" asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">

                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Overview</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a asp-action="Dashboard" asp-controller="Admin">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Templates Crud</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a asp-action="Template" asp-controller="Admin">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">Templates</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>

                        </ul>

                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Feedback Crud</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a asp-action="Feedback" asp-controller="Admin">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">FeedBack</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li>

                        </ul>

                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Transactions Status</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a>
                                    <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Transactions</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">All Users</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a asp-controller="Admin" asp-action="Users">
                                    <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Users</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">User's Feedback/Query</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a asp-action="contact" asp-controller="Admin">
                                    <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Contact</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Subscription Details</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a asp-action="Subscribers" asp-controller="Admin">
                                    <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Subscribers</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Recipient Emails</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li>
                                <a>
                                    <span class="pcoded-micon"><i class="ti-direction-alt"></i><b>M</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.menu-levels.main">Email Recivied</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="pcoded-inner-content pt-0">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="container">
                                                        <div class="row justify-content-center pr-5">
                                                            <div class="col-sm-6 col-md-4 col-lg-4 ">
                                                                <h4>Contact_Lists</h4>
                                                                <div class="container">
                                                                    <div class="row pr-3">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Contact_Id</th>
                                                                                    <th>Name</th>
                                                                                    <th>Email</th>
                                                                                    <th>Subject</th>
                                                                                    <th>Message</th>
                                                                                    <th>Actions</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var prod in ViewBag.contact)
                                                                                {

                                                                                    <tr>
                                                                                        <th>@prod.ContactId</th>
                                                                                        <th>@prod.Name</th>
                                                                                        <td>@prod.Email</td>
                                                                                        <td>@prod.Subject</td>
                                                                                        <td>@prod.Message</td>
                                                                                        <td>
                                                                                            <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="DeleteContact" asp-route-Id="@prod.ContactId">Delete</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>